/* Réinitialisation des styles par défaut */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles de base pour le corps de la page */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
}

/* Ajoutez vos styles personnalisés ci-dessous */
#bg {
  background-color: #1b1b1b;
}

#orange {
  background: linear-gradient(to left bottom, #1b1b1b, black);
  height: 100vh;
  width: 100vw;
  position: absolute;
}

#bleu {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: linear-gradient(to left top, black, #1b1b1b);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#pink {
  background: linear-gradient(to bottom, red, darkred);
  height: 100vh;
  width: 100vw;
  position: relative;
  margin: 0;
  padding: 0;
}

#gray {
  padding-top: 50px;
  background: linear-gradient(to top, #1b1b1b, black);
  height: 100vh;
  width: 100vw;
  position: absolute;
}

#bg-circuits {
  background: linear-gradient(to top right, #1b1b1b, black);
  height: 100vh;
  width: 100vw;
  position: absolute;
}

#bg-pilotes {
  background-color: #1b1b1b;
  height: 100vh;
  width: 100vw;
  position: absolute;
  transition: background-color var(--trans-dur), color var(--trans-dur);
  color: hsl(var(--hue), 10%, 10%);
}

#tableauAge {
  background: linear-gradient(to bottom right, #1b1b1b, black);
  height: 100vh;
  width: 100vw;
  position: absolute;
  padding-top: 5rem;
  padding-left: 2rem;
}

#bg-cercles {
  background-color: #1b1b1b;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.bigTitle {
  position: absolute;
  z-index: 1000;
  color: white;
  font-size: 100px;
}

#middleZone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  background-color: red;
  z-index: 1000;
}

.finishLine {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#bg-before {
  background-color: #1b1b1b;
  height: 100vh;
  width: 100vw;
}

#container {
  background-color: black;
}

.country {
  fill: white;
  stroke: red;
}

#lights {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-radius: 30px;
  border: 5px solid whitesmoke;
  margin: 20px auto;
  padding: 20px 5%;
}

.light {
  width: 120px;
  height: 120px;
  background-color: gray;
  border-radius: 100%;
  padding: 20px 20px;
  margin: 0 10px;
}

#gray h1 {
  text-align: center;
  color: whitesmoke;
}

#btnDiv {
  display: flex;
  height: 100px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#gray button {
  padding: 20px 50px;
  font-size: 26px;
  letter-spacing: 5px;
  cursor: pointer;
  align-items: center;
  border: 1px solid rgba(245, 245, 245, 0.202);
  background-color: #202020;
  color: whitesmoke;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin: auto;
}

#gray button:hover {
  background-color: #2c2c2c;
}

.infoZone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
  width: 80vw;
  height: 150px;
  margin: 20px auto;
  padding-left: 30px;
  padding-right: 30px;
  color: whitesmoke;
}

.infoZone h2 {
  padding: 7px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 100%;
  background-color: #ff424a;
  border-radius: 12px;
}

.scores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  width: 100%;
  height: 100%;
  background-color: #1b1b1b;
  border: 3px solid rgba(245, 245, 245, 0.439);
  border-top: none;
  border-radius: 0 0 10px 10px;
}

div.affichage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  width: 100%;
  height: 100%;
  background-color: #1b1b1b;
  border: 3px solid rgba(245, 245, 245, 0.439);
  border-top: none;
  border-radius: 0 0 10px 10px;
}

.score {
  color: whitesmoke;
  width: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 100%;
  background-color: #af0005;
  border-radius: 12px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 100%;
  background-color: #f40004;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 12px;
}

#finishDamier {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 100%;
}

#finishText {
  width: 100%;
  height: 60%;
  margin-top: -12%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: whitesmoke;
}

#finishText a {
  text-decoration: none;
  color: whitesmoke;
  padding: 30px;
}

.theEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  background-color: rgb(231, 150, 150);
  border-radius: 12px;
}

#finishText .theEnd:hover {
  background-color: red;
  color: white;
}

.imgEnd {
  width: 100%;
  height: 100px;
  border: white 3px solid;
  border-top: none;
  background-color: whitesmoke;
  border-radius: 0px 0px 12px 12px;
  background-image: url(../../assets/svg/finishLine.svg);
  background-size: cover;
}

/* .world {
  border: 5px solid red;
} */

@font-face {
  font-family: "formula";
  src: url("font/Formula1-Bold_web.ttf") format("truetype");
}

#testBtn {
  --hue: 223;
  --primary: lightgray;
  --trans-dur: 0.6s;
  --trans-timing: cubic-bezier(0.65, 0, 0.35, 1);
  font-size: calc(86.4px + (172.8 - 86.4) * (100vw - 320px) / (2560 - 320));
  color: hsl(var(--hue), 10%, 10%);
  display: flex;
  position: absolute;
  /* postion du bouton */
  top: 45%;
  left: 75%;
  transition: background-color var(--trans-dur), color var(--trans-dur);
  transform: rotate(90deg);
}

#testBtn,
#testBtn input {
  font: 1.44em/2.16 sans-serif;
}

body:has(.switch__input:checked) {
  background-color: hsl(var(--hue), 10%, 20%);
  color: hsl(var(--hue), 10%, 90%);
}

.switch,
.switch__input {
  display: block;
  -webkit-tap-highlight-color: transparent;
}

.switch {
  margin: auto;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.switch__inner,
.switch__inner-icons {
  border-radius: 1.2em;
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0.3em;
  left: 0.3em;
  width: 4.3em;
  height: 2.5em;
}

.switch__inner:before,
.switch__inner-icons {
  transition: transform var(--trans-dur) var(--trans-timing);
  transform: translateX(-1.8em);
}

.switch__inner:before {
  background-color: var(--primary);
  border-radius: inherit;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
}

.switch__inner-icons {
  pointer-events: none;
}

/* circuit non selectionné */
.switch__icon {
  color: rgb(var(--hue), 25, 204);
  pointer-events: none;
  position: absolute;
  top: 0.9em;
  left: 0.5em;
  width: 1.4em;
  height: 1.4em;
  transition: color var(--trans-dur),
    transform var(--trans-dur) var(--trans-timing), opacity 0.5s;
  opacity: 1;
}

/* casque non  selectionné */
.switch__icon:nth-of-type(2) {
  right: 0.7em;
  top: 0.74em;
  width: 1.3em;
  height: 1.6em;
  left: auto;
}

/*  circuit selectionné*/
.switch__inner-icons .switch__icon {
  color: hsl(0, 0%, 100%);
  width: 1.8em;
  height: 1.8em;
  top: 0.35em;
  left: 0.3em;
  transform: translateX(1.8em);
}

/* casque selectionné */
.switch__inner-icons .switch__icon:nth-child(2) {
  height: 2.3em;
  width: 2.3em;
  right: 0.03em;
  top: 0.1em;
  left: auto;
}

.switch__input {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.08em;
  box-shadow: 0 0 0 0.09em hsla(var(--hue), 90%, 50%, 0),
    0 0.18em 0.72em hsla(var(--hue), 10%, 10%, 0.1);
  outline: transparent;
  width: 3.5em;
  height: 2.16em;
  -webkit-appearance: none;
  appearance: none;
  transition: background-color var(--trans-dur), box-shadow var(--trans-dur);
}

.switch__input:checked {
  background-color: hsl(var(--hue), 20%, 30%);
}

.switch__input:checked~.switch__icon {
  color: red;
}

.switch__input:checked~.switch__inner:before,
.switch__input:checked~.switch__inner-icons {
  transform: translateX(1.8em);
}

.switch__input:not(:checked)~.switch__icon:first-of-type,
.switch__input:checked~.switch__icon:nth-of-type(2) {
  transform: rotate(360deg);
}

.switch__input:checked~.switch__inner-icons .switch__icon:first-of-type {
  transform: translateX(-1.8em) rotate(-360deg);
}

.switch__input:checked~.switch__inner-icons .switch__icon:nth-of-type(2) {
  transform: translateX(-1.8em) rotate(360deg);
}

.switch__input:focus-visible {
  box-shadow: 0 0 0 0.09em hsla(var(--hue), 90%, 50%, 1),
    0 0.18em 0.72em hsla(var(--hue), 10%, 10%, 0.1);
}

.switch__sr {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
}

.title {
  font-size: 7.5rem;
  font-family: "formula", sans-serif;
  color: red;
  line-height: 1.2;
  text-align: center;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  -webkit-text-fill-color: red;
}

.circuitPiloteInfoZone {
  font-size: 1.3rem;
}

.circuitPiloteName {
  font-size: 2rem;
}

.circuitName {
  font-size: 1rem;
}

.reponse {
  /* Styles pour les réponses */
  fill: white;
  font-size: 1rem;
  text-anchor: middle;
  font-family: "formula-regular";
}

.chiffre {
  /* Styles pour les chiffres */
  fill: black;
  /* Couleur de remplissage */
  stroke: white;
  /* Couleur du contour */
  stroke-width: 2px;
  /* Épaisseur du contour */
  font-size: 3rem;
  text-anchor: middle;
  font-family: "formula", sans-serif;
}

@font-face {
  font-family: "formula-regular";
  src: url("font/Formula1-Regular-1.ttf") format("truetype");
}

.circle {
  opacity: 0;
  /* Les cercles sont initialement invisibles */
  transition: opacity 1.5s ease;
  /* Transition pour rendre les cercles visibles en douceur */
}

.circle.appear {
  opacity: 1;
  /* Les cercles deviennent visibles lorsqu'ils apparaissent */
}

.percentage {
  font-family: "formula", sans-serif;
}

#f1Emoji {
  font-size: 5rem;
  margin-top: -50px;
}

#finishDamier {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 100%;
  top: -10%;
}

#finishDamier img {
  height: 80%;
}

#finishText {
  width: 100%;
  height: 60%;
  margin-top: -9%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: whitesmoke;
}

#finishText a {
  text-decoration: none;
  color: whitesmoke;
  padding: 30px;
}

.theEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  background-color: rgb(231, 150, 150);
  border-radius: 12px;
}

#finishText .theEnd:hover {
  background-color: red;
  color: white;
}

.imgEnd {
  width: 100%;
  height: 80px;
  border: white 3px solid;
  border-top: none;
  background-color: whitesmoke;
  border-radius: 0px 0px 12px 12px;
  background-image: url(../../assets/svg/finishLine.svg);
  background-size: cover;
}

#podium {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 0 5%;
}

.podiums {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: 0 10px;
  text-align: right;
  align-items: center;
  justify-content: end;
}

.podiums img {
  width: 300px;
}

#sousPodium {
  width: 95%;
  max-width: 1500px;
  min-height: 30px;
  margin: 40px auto;
  height: 50px;
  background-image: url(../../assets/svg/finishLine.svg);
  border-radius: 5px;
}

.blockPodium2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  max-height: 200px;
  min-height: 150px;
  width: 100%;
  background: linear-gradient(to left, #c0c0c0, #808080);
  padding: 0 30px;
  border-radius: 20px 5px;
}

.blockPodium1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  max-height: 300px;
  min-height: 200px;
  width: 100%;
  background: linear-gradient(to left, #ffd700, #bda206);
  padding: 0 30px;
  border-radius: 20px 20px 5px 5px;
}

.blockPodium3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  max-height: 150px;
  min-height: 100px;
  width: 100%;
  background: linear-gradient(to left, #824609, #4c2d06);
  padding: 0 30px;
  border-radius: 5px 20px;
}

.nbTitles {
  font-family: "formula", sans-serif;
  width: 100%;
  text-align: right;
  font-size: 5rem;
}

.piloteName {
  font-size: 2rem;
  font-family: "formula", sans-serif;
  text-align: center;
  width: 100%;
  color: whitesmoke;
}

#theGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 80vw;
  padding: 10px;
  margin: auto;
}

#compare {
  width: 95vw;
  margin: auto;
  margin-bottom: 10px;
}

@media (max-width: 1350px) {
  .title {
    font-size: 5rem;
    -webkit-text-stroke-width: 1.5px;
  }

  .circuitPiloteInfoZone {
    font-size: 0.9rem;
  }

  .circuitPiloteName {
    font-size: 1.7rem;
  }

  .circuitPiloteNameNumber {
    font-size: 0.8rem;
  }

  nbTitles {
    font-size: 3rem;
  }

  piloteName {
    font-size: 15rem;
  }

  #f1Emoji {
    font-size: 3rem;
  }

  .light {
    width: 90px;
    height: 90px;
  }

  .podiums img {
    width: 250px;
  }
}

@media (max-height: 900px) {
  .title {
    font-size: 5rem;
    -webkit-text-stroke-width: 1.5px;
  }

  .circuitPiloteInfoZone {
    font-size: 0.9rem;
  }

  .circuitPiloteName {
    font-size: 1.7rem;
  }

  .circuitPiloteNameNumber {
    font-size: 0.9rem;
  }

  .chiffre {
    font-size: 2rem;
  }

  nbTitles {
    font-size: 3rem;
  }

  piloteName {
    font-size: 15rem;
  }

  #f1Emoji {
    font-size: 3rem;
  }
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: red;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #ffffff;
  width: 80%;
  color: white;
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}


body.overflow-hidden {
  overflow: hidden;
}